git+https://github.com/KurimuzonAkuma/pyrogram
regex
umongo
tgcrypto
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
requests
bs4
git+https://github.com/Joelkb/cinemagoer
datetime
pytz
aiohttp

PyLeaves==1.0.2
cinemagoer
shortzy
aiofiles
pyromod==1.5

jinja2
apscheduler
pyshorteners
pyromod
colorama

fuzzywuzzy
python-Levenshtein
